body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(216, 216, 216);
    text-align: center;
}
header{
    background: #28a745;
    color: white;
    /* espaçamento interno 15px acima e abaixo, e 0px esquerda e direita*/
    padding: 15px 0; 
    font-size: 24px;
    border: 1px solid black;
}
nav {
    background-color: #007bff;
    padding: 12px; 
    display: flex; /* Flex boxing*/
    /* alinhamento na horizontal - espaço entre os links*/
    justify-content: space-between;
    /* alinhamento na vertical */ 
    align-items: center;
}
#links-menu { /* para se referenciar um id se usa "#" */
    display: flex;
    gap: 15px
}
/*configura o estilo das ãncoras que estão dentro do nav*/
nav a{
    color: white; /*texto branco*/
    text-decoration: none; /*não faz decorção do link*/
    padding: 10px 15px; /*10px acima e abaixo 15px é esquerda e direita*/
    font-size: 18px; /* tamanho da fonte*/
    background: #005663; /*cor de fundo*/
    border-radius: 5px; /*borda com canto arredondado*/
  
}
nav a:hover {
    background: #003d82;
    
}
img{
    width: 100px;
    height: auto;
    margin-right: 20px; /* espaçamento externo de 2px*/
    border-radius: 10px;
    
}

.container { /* para se referenciar uma classe se usa "." */
    width: 80%;
    margin: 20px auto; /* 20px em cima e em baixo e automático a esquerda e direita*/
    background: white;
    /*espaçamento interno nos 4 lados*/
    padding: 20px;
    border-radius: 10px;
    text-align: justify;
}

td {
    padding: 20px;
}